* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eceef1;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 30px;
}

.heading {
  align-self: flex-end;
  display: flex;
}

.sign-in-details p {
  color: #505050;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 10px;
}

a {
  color: #0077c5;
  text-decoration: none;
}

.sign-in-details a {
  color: #4c77cd;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
}

.sign-in button {
  background-color: #0077c5;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: normal;
  padding: 0 20px;
  height: 34px;
  font-family: Arial;
}

.sign-in button i {
  height: 1em;
  width: 0.8em;
  margin-top: 2px;
  margin-right: 10px;
}

.submit button {
  width: 100%;
  padding: 0;
}

.main-one {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  width: 400px;
  padding: 0;
  margin: 0 auto;
}

.f-images {
  display: flex;
  padding: 20px 0;
}

.form-images {
  display: flex;
}

.header-icon img {
  width: 20px;
  padding-right: 5px;
  padding-left: 10px;
}

.div-one {
  text-align: center;
}

.div-one h2 {
  color: #4c4c4c;
  font-weight: 400;
  line-height: 1.1;
  font-size: 24px;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 30px 0;
}

.div-one p {
  color: #4c4c4c;
  font-size: 14px;
}

.div-one a {
  font-size: 12px;
}

.e-mail,
.phone,
.password,
.submit {
  padding: 15px 0;
}

.form-heading {
  display: flex;
  flex-direction: column;
}

.form-h1 {
  align-self: center;
}

.form-h1 img {
  width: 120px;
  align-self: center;
}

.form-heading,
.data-input {
  align-self: center;
}

input {
  width: 100%;
  padding-top: 10px;
  border: 1px solid #c1c5c8;
  border-radius: 0.20em;
  height: 20px;
}

.div-one,
.anchor {
  align-self: center;
}

.data-input {
  font-weight: normal;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.warning p {
  font-size: 10px;
}

.terms-conditions {
  align-self: center;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  color: #8d9096;
  font-style: italic;
}

.privacy {
  background-color: #eceef1;
  font-size: 10px;
  width: 100%;
  padding-bottom: 20px;
  font-style: normal;
}

.security {
  align-self: center;
  text-emphasis: none;
  font-size: 12px;
}

.security a {
  color: #505050;
  margin: 5px;
}

.security a:hover {
  text-decoration: underline;
}

.form-footer {
  margin: 0 auto;
}

.foot {
  font-size: 12px;
  color: #505050;
  margin: 0 auto;
  text-align: center;
  width: 735px;
}
